body {
	background-color: #1c163b;
	margin: auto;
	max-width: 800px;
	padding-left: 15px;
	padding-right: 15px;
}

.clickable{
	cursor: pointer;
	user-select: none;
}

a {
	font-family: Noto Serif TC;
}

h1 {
	font-family: Noto Serif TC;
	margin: 0px;
}

h2{
	font-family: Noto Serif TC;
	margin: 0px;
}

h3{
	font-family: Noto Serif TC;
	margin: 0px;
}

div{
	font-family: Noto Serif TC;
	margin: 0px;
}

p{
	font-family: Noto Serif TC;
	margin: 0px;
}

input textarea{
	font-family: Noto Serif TC;
	padding: 5px;
	margin: 0px;
	border: solid 10px red;
	outline:none;
}

button{
	font-family: Roboto;
	height: 23px;
	background-color: #fff;
	color: black;
	border-radius: 4px;
	border: solid 2px #ded7ff;
	outline:none;
	cursor: pointer;
	user-select: none;
	padding-top: 2px;
	margin-top: -2px;
}

button:hover{
	background-color: #ddd;
}