body {
	background-color: #1c163b;
	margin: auto;
	max-width: 800px;
	padding-left: 15px;
	padding-right: 15px;
}

.clickable{
	cursor: pointer;
	user-select: none;
}

a {
	font-family: Noto Serif TC;
}

h1 {
	font-family: Noto Serif TC;
	margin: 0px;
}

h2{
	font-family: Noto Serif TC;
	margin: 0px;
}

h3{
	font-family: Noto Serif TC;
	margin: 0px;
}

div{
	font-family: Noto Serif TC;
	margin: 0px;
}

p{
	font-family: Noto Serif TC;
	margin: 0px;
}

input{
	font-family: Noto Serif TC;
	margin: 0px;
}